# Python virtual environment
.venv/
venv/
env/

# VS Code settings
.vscode/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE specific files
.idea/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/ 